@model GoTWebMVC.Models.FightModel

@{
    ViewBag.Title = "Combat";
}

<br/>
<h2>Résumé du combat </h2>
<br/>

<div>
    <h4>@Html.DisplayFor(model => model.FirstCharacter.FullName) vs. @Html.DisplayFor(model => model.SecondCharacter.FullName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Vainqueur
        </dt>

        <dd>
            @if (Model.ID_Winner == Model.FirstCharacter.ID)
            {
                @Html.DisplayFor(model => model.FirstCharacter.FullName)
            }
            else
            {
                @Html.DisplayFor(model => model.SecondCharacter.FullName)
            }
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Retour à la guerre", "Details", "War", new { id = Model.ID_War }, new { @class = "btn btn-primary btn-large" })
</p>
