@model IEnumerable<GoTWebMVC.Models.CharacterModel>

@{
    ViewBag.Title = "Personnages";
}

<h2>Liste des personnages</h2>
<br />

<table class="table table-striped">
    <tr>
        <th>
            <p>Bravoure</p>
        </th>
        <th>
            <p>Folie</p>
        </th>
        <th>
            <p>Prénom</p>
        </th>
        <th>
            <p>Nom</p>
        </th>
        <th>
            <p>Points de vie</p>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bravoury)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crazyness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pv)
        </td>
    </tr>
}

</table>
